@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to handle the "no-scrollbar" class used in the code */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}